.Titel
{
  margin-top: 20px;

  margin-left: 40px;
  color: #223D73;
  font-size: 50px;
}

body
{
  background-color: #F2F2F2;
}

.centered
{
  display: grid;
  place-items: center;
}

.HorizontalSeparator
{
  height: 2px;
  width: 50%;
  background-color: #223D73;
  margin-top: 40px;
  margin-bottom: 30px;
}


.versionNumber
{
  font-weight: lighter;
  margin-left: 41px;
  transform: translateY(-40px);
  font-size: 15px;
}