.toggle 
{

}

.toggleButton
{
    padding:0px;
    margin: 0px;
    margin-bottom: 30px;
    width: 80px;
    height: 40px;
    background-color: white;
    border-style: solid;
    font-size: 20px;
    border-width: 0px;
    transition-duration: 0.5s;
}

.selected
{
    background-color: #223D73;
    color: white;
}

.notSelected
{
    background-color: white;
    color: #223D73;
}

.MainViewModeLbl
{
    padding-bottom: 10px;
}